.statsCard{
  background-color: #1A1A24;
  border: 1px solid #1E2939;
  padding: 20px 21px;
  display: flex;
  border-radius: 14px;
  justify-content: space-between;
  font-family: PingFang SC;
  font-weight: 400;
  font-style: Regular;
  .title{
    height: 44px;
    font-size: 14px;
    line-height: 20px;
    color: #99A1AF;
  }
  .content{
    font-weight: 600;
    font-style: Semibold;
    font-size: 28px;
    line-height: 32px;
    color: #FFFFFF;
  }
  .text{
    font-size: 12px;
    line-height: 16px;
    color: #6A7282;
  }
  .icon{
    width: 68px;
    height: 68px;
  }
}